  .page3 { 
    background-color: grey;
    margin: 10px;  
    } 


    #bkimg2 {
        
        transition-duration: 1s;
        animation-iteration-count: 1;
    }

    #bkimg2:hover{
      
        transform: rotate(360deg);
     }

     h1 {
        font-size: 72px;
        text-align: center;
        background: -webkit-linear-gradient(#c85fe8, #ed5a97);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      } 

     
           
    p{
        font-size: medium;
        font-weight: lighter;
        color: yellowgreen;
      }